pandas==2.2.3
numpy==1.26.4
wrds==3.2.0
matplotlib==3.8.0
scikit-learn==1.4.2
scikit-learn-intelex==2025.2.0
statsmodels==0.14.0
pyarrow==14.0.2
tqdm==4.66.5
linearmodels==5.4
lightgbm==4.3.0
ipykernel==6.28.0